<% let labelAreaId = "labelArea"+title %>
<div class="d-flex justify-content-between align-items-center">
  <div class="dropdown">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-popper="none">
      <%= title %>
    </button>
    <div class="dropdown-menu px-3" aria-labelledby="dropdownMenuButton">
      <% for (var i = 0; i < options.length; i++) { %>
        <% let checkBoxId = "checkBox"+title+options[i] %>
        <% let label = options[i] %>
        <div class="dropdown-item" onclick="editFilter('<%= labelAreaId %>','<%= checkBoxId %>','<%= label %>','<%= name %>')">
          <input type="checkbox" class="form-check-input" id="<%= checkBoxId %>" onclick="this.checked=!this.checked;">
          <label class="form-check-label" for="<% checkBoxId %>">
            <%= label %>
          </label>
          <div class="dropdown-menu dropdown-submenu">
            <% for (var j = 0; j < options2d[i].length; j++) { %>
              <% let checkBoxId2 = "checkBox"+title+options[i]+options2d[i][j] %>
              <% let label2 = options2d[i][j] %>
              <div class="dropdown-item" onclick="editFilter('<%= labelAreaId %>','<%= checkBoxId2 %>','<%= label+label2 %>','<%= name %>')">
                <input type="checkbox" class="form-check-input" id="<%= checkBoxId2 %>" onclick="this.checked=!this.checked;">
                <label class="form-check-label" for="<% checkBoxId2 %>">
                  <%= label2 %>
                </label>
              </div>
            <% } %>
          </div>
        </div>
      <% } %>
    </div>
  </div>
  <div id="<%= labelAreaId %>">
    <!-- sample label like below
      <span class="badge bg-secondary mx-1" id="labelId">Label 1<button type="button" class="btn-close" aria-label="Close" onClick="removeLabel(...)"></button></span>
    -->
  </div>
</div>