<div class="col mb-5">
    <div class="card" title="來源：<%= house.coming_from %>">
        <div class="h-100 btn p-0" onclick="window.open('/rent?id=<%= house.id %>', '_blank')">
            <!-- Product image-->
            <img class="card-img-top" src="<%= house.img_url %>"/>
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <div>
                    <h5 class="fw-bolder multiline-ellipsis"><%= house.title %></h5>
                    </div>
                    <!-- Product price-->
                    <p class="fs-5">$<%= Math.floor(house.price_permonth) %> 元/月</p>
                </div>
            </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent text-center">
            <button type="button" class="btn btn-outline-danger" onclick="likeBtnClick('likeIcon<%= house.id %>','<%= house.id %>')">
                <% if (house.like) { %>
                    <i class="bi bi-heart-fill" id="likeIcon<%= house.id %>"></i> Like
                <% } else { %>
                    <i class="bi bi-heart" id="likeIcon<%= house.id %>"></i> Like
                <% } %>
            </button>
        </div>
    </div>
</div>