<!DOCTYPE html>
<html lang="en">
    <%- include('head.ejs', {title : '租屋網大集合'}) %>
    <body>
        <%- include('navigation.ejs') %>
        <!-- Header -->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">租屋網大集合</h1>
                    <p class="lead fw-normal text-white-50 mb-0">讓你一次比較～全～部～的房地產物件～～</p>
                </div>
                <!-- filter start -->
                <div class="row justify-content-center my-2">
                  <div class="col-7 bg-white py-2 card rounded">
                    <div class="row justify-content-start">
                        <div class="col-9">
                          <%- include('filter2d.ejs', {title : '地區', options : filter_data.counties, options2d : filter_data.districts}); %>
                          <%- include('filter.ejs', {title : '型態', options : filter_data.types}); %>
                          <%- include('filter.ejs', {title : '租金', options : filter_data.prices}); %>
                          <button class="btn btn-link text-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <i class="bi bi-chevron-down me-2"></i>
                            更多選項
                          </button>
                          
                          <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                <% for (var i = 0; i < filter_data.others.length; i++){ %>
                                    <%- include('filter.ejs', {title : filter_data.others[i], options : filter_data.other_options[i]}); %>
                                <% } %>
                            </div>
                          </div>
                        </div>
                        <div class="col-3 p-3">
                            <button id="submitBtn" type="submit" class="btn round bg-light w-100 h-100">搜尋</button>
                        </div>
                    </div>
                  </div>
                </div>
                <!-- filter end -->
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div id="houseItemsContainer" class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <% for (var i = 0; i < houses.length; i++) { %> 
                        <%- include('house_item.ejs', { house : houses[i] }); %> 
                    <% } %>
                </div>
            </div>
        </section>
        <%- include('footer.ejs') %>
    </body>
</html>