<!DOCTYPE html>
<html lang="en">
    <%- include('head.ejs', {title : '租屋網大集合'}) %>
    <body>
        <%- include('navigation.ejs') %>
        <!-- Header -->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">租屋網大集合</h1>
                    <p class="lead fw-normal text-white-50 mb-0">讓你一次比較～全～部～的房地產物件～～</p>
                </div>
                <!-- filter start -->
                <div class="row justify-content-center my-2">
                  <div class="col-7 bg-white py-2 card rounded">
                    <div class="row justify-content-start">
                        <div class="col-9">
                          <%- include('filter2d.ejs', {name : 'address', title : '地區', options : filter_data.counties, options2d : filter_data.districts}); %>
                          <%- include('filter.ejs', {name : 'house_type', title : '型態', options : filter_data.house_type}); %>
                          <%- include('filter.ejs', {name : 'price_permonth', title : '租金', options : filter_data.price_permonth}); %>
                          <button class="btn btn-link text-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <i class="bi bi-chevron-down me-2"></i>
                            更多選項
                          </button>
                          
                          <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                <% for (var i = 0; i < filter_data.others.length; i++){ %>
                                    <%- include('filter.ejs', {name : filter_data.other_names[i], title : filter_data.others[i], options : filter_data.other_options[i]}); %>
                                <% } %>
                            </div>
                          </div>
                        </div>
                        <div class="col-3 p-3">
                            <button id="submitBtn" type="submit" class="btn round bg-light w-100 h-100 update-house-btn">搜尋</button>
                        </div>
                    </div>
                  </div>
                </div>
                <!-- filter end -->
            </div>
            
        </header>
        <!-- Section-->
        <section id="section" class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <nav class="navbar navbar-expand-lg navbar-light bg-white p-0">
                    <div class="container-fluid">
                        <!-- Buttons on the left, Pagination usage -->
                        <div class="d-flex justify-content-start">
                            <p class="fs-3">一共有&nbsp;</p>
                            <p id="itemCnt" class="fs-2 font-weight-bold" style="color: orange;"></p>
                            <p class="fs-3">&nbsp;筆物件</p>
                        </div>
                    
                    
                        <!-- Dropdowns on the right, Displaying options -->
                        <div class="d-flex justify-content-end">
                        <% const dd_names=['order_by', 'limit']; %>
                        <% const dd_titles=['排序', '筆數']; %>
                        <% const dd_contents=[filter_data.order_by, filter_data.limit]; %>
                        <% for (var i = 0; i < 2; i++) { %>
                            <% const dd_btn_id = 'ddBtn'+dd_titles[i]; %>
                            <div class="dropdown">
                                <button class="btn btn-outline-secondary dropdown-toggle unrounded-bottom" type="button" id="<%= dd_btn_id %>" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <%= dd_titles[i]+'：'+dd_contents[i][0] %>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="<%= dd_btn_id %>">
                                    <% for (var j = 0; j < dd_contents[i].length; j++) { %>
                                        <% const option_label = dd_titles[i]+'：'+dd_contents[i][j] %>
                                        <a class="dropdown-item update-house-btn" onclick="setFilterData('<%= dd_names[i] %>','<%= dd_contents[i][j] %>');document.getElementById('<%= dd_btn_id %>').innerHTML='<%= option_label %>'"><%= option_label %></a>
                                    <% } %>
                                </div>
                            </div>
                        <% } %>
                    </div>
                    </nav>
                <hr class="mt-0" style="width: 99%">
                <div class="split-line"></div>
                <div id="houseItemsContainer" class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                </div>
                <hr>

                <div id="pageBtns" class="d-flex justify-content-center">
                </div>
            </div>
        </section>
        <%- include('footer.ejs') %>
        <script>
            // get those houses after submit button pressed.
            $(document).ready(function () {
            // initialize options for certain select bar, in home page
                clearFilterData();
                setFilterData("page_num", "1");
                setFilterData("order_by", "默認排序");
                setFilterData("limit", "12");

                const postUrl = '/submit';
                requestData(postUrl);
                $(".update-house-btn").click(function(){
                    requestData(postUrl);
                });
                $(".disable-submenu").click(disableSubmenu);
            });
        </script>
    </body>
</html>